<div class="question">

  <form class="up-vote-btn" action="/questions/<%=@question.id%>/upvote" method="post">
    <input type="submit" name="upvote" value="Upvote">
  </form>

  <%= @question.total_value%>

  <form class="dwn-vote-btn" action="/questions/<%=@question.id%>/downvote" method="post">
    <input type="submit" name="downvote" value="Downvote">
  </form>

<h1>Question Title: <%=@question.title%></h1>
<h5>Question Posted By: <%=@question.user.username%></h5>
<p>Question Body: <%=@question.description%></p>

  <div class="question-comments">
    <% @question.comments.each do |comment| %>
      comment body: <%= comment.description%> <br>
      Posted by: <%= comment.user.username%> on <%= comment.created_at%>
    <% end %>
  </div>

<form class="submit-answer" action="/questions/<%=@question.id%>/answers/new" method="get">
  <input type="submit" name="" value="Post Answer">
</form>

</div>

<h2><%= @question.answers.count%> Answers</h2>
<div class="answer">
<% @question.answers.each do |answer| %>


<form class="up-vote-btn" action="/answers/<%=answer.id%>/upvote" method="post">
  <input type="submit" name="upvote" value="Upvote">
</form>

<%= answer.total_value%>

<form class="dwn-vote-btn" action="/answers/<%=answer.id%>/downvote" method="post">
  <input type="submit" name="downvote" value="Downvote">
</form>

<p>Answer Body: <%= answer.description %></p>
<h5>Answer posted by: <%=answer.user.username%></h5>

<div class="answer-comments">
  <% answer.comments.each do |comment| %>
    <%= comment.description%> <br>
    Posted by: <%= comment.user.username%> on <%= comment.created_at%>
  <% end %>
</div>

<% end %>
</div>
